.table > tbody > .billin_title > td,
.table > tbody > .billin_line > td{
    border: 0;
}

.table > tbody > .billin_title > .billin_lbl{
    padding-left: 15px;
    text-decoration: underline;
}

.table > tbody > .billin_line > td{
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
}

.table > tbody > .billin_line > .billin_line_name{
    padding-left: 25px;
    font-size: 12px;
    color: grey;
}

.billin_price{
    text-align: right;
    font-size: 12px;
    color: grey;
}

.billin_line_qty{
    text-align: right;
    font-style: italic;
    font-size: 10px;
    color: grey;
}

